body{
    background: gray;
    text-align: center;
    color: #1e1e1e;
    padding: 120px;
    box-sizing: border-box;
}

ul{
    text-align: left;
}

img{
    border: 5px solid black;
}

h1{
    color: blue;
    font-size: 40px;
}